@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add in global CSS or Tailwind */
::-webkit-scrollbar {
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  